* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: white;
  --border-color: rgba(255, 255, 255, 0.5);
  --bg-url: url(./assets/bg-mobile.jpg);
  --switch-icon: url(./assets/moon-stars.svg);
}
.light {
  transition: 0.3s;
  --text-color: black;
  --border-color: rgba(0, 0, 0, 0.5);
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --switch-icon: url(./assets/sun.svg);
}

body {
  height: 100vh;
  /* Shorthand Background */
  /* - background: color image repeat position/size - */
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

#container {
  border-radius: 10px;
  padding: 0px 24px;
  margin: 56px auto 0px;
  width: 100%;
  max-width: 588px;
}

/* Profile */
#profile {
  padding: 24px;
  text-align: center;
}

#profile img {
  width: 112px;
}

#profile p {
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
}

/* Switch */
#switch {
  margin: 4px 0px;
  margin: 0px auto;
  width: 64px;
  position: relative;
}

#switch button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  position: absolute;
  border-radius: 100%;
  background: white var(--switch-icon) no-repeat center;
  z-index: 1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  animation: slide-out .2s;
  transition: outline .1s;
}
#switch button:hover {
  outline: 8px solid var(--border-color);
}

.light #switch button {
  animation: slide-in .2s forwards;
}

#switch span {
  border-radius: 50px;
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--border-color);
  backdrop-filter: blur 4px;
  -webkit-backdrop-filter: blur 4px;
}

/* Links */
ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  gap: 16px;
  padding: 24px 0px;
}

ul li a {
  border-radius: 10px;
  display: flex;
  border: 1px solid var(--border-color);
  justify-content: center;
  text-decoration: none;
  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.1);
  transition: background 0.3s;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-weight: 500;
}
/* pseudo-selector */
ul li a:hover {
  background: rgba(255, 255, 255, 0.5);
  border: 1.5px solid var(--text-color);
}

/* Social Links*/
#socialLinks {
  justify-content: center;
  display: flex;
  gap: 16px;
  padding: 24px 0px;
  font-size: 24px;
}

#socialLinks ion-icon {
  padding: 16px;
  border-radius: 100%;
  transition: background 0.3s;
  border: 2px solid var(--border-color);
}

#socialLinks ion-icon:hover {
  cursor: pointer;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* Footer */
footer {
  padding: 16px;
  text-align: center;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

footer a:hover {
  color: rgb(0, 167, 218);
}

footer ion-icon {
  color: rgb(255, 208, 0);
}

/* Media Queries */
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* Animation */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}
@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}